<div
  class="d-flex flex-column p-3 bg-light"
  style="width: 250px; height: 100vh"
>
  <h4 class="mb-3">Menu</h4>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active">
        <span class="material-icons me-2">favorite</span>
        Favoritos
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="material-icons me-2">person</span>
        Perfil
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="material-icons me-2">trending_up</span>
        Tendências
      </a>
    </li>
  </ul>
</div>
