:host {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #f8f9fa;
}

.form-control {
  width: 100%;
}

.rounded {
  border-radius: 12px;
}

#Search {
  border-radius: 50px 0px 0px 50px;
}
#Searchicon {
  border-radius: 0px 50px 50px 0px;
}
