.taskbar01 {
  /* Absolute Cinema task bar */
  position: relative;
  width: 1320px;
  height: 56px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinha verticalmente ao centro */
  gap: 60px; /* Corrigido com unidade */
  padding: 0px;
}

.yt-icon-button {
  width: 40px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 20px;
}

.signin {
  flex: none;
  width: 102.11px;
  height: 36px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  color: #065fd4;
  background-color: #ffffff; /* Corrigido */
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
}
