<div class="d-flex align-items-center p-3 gap-4">
  <a class="btn p-2 rounded-circle d-flex btn-primary" href="#">
    <mat-icon>menu</mat-icon>
  </a>

  <app-login></app-login>

  <div class="logo d-flex align-items-center rounded">
    <img
      src="images/absolute_cinema_logo.png"
      alt="Logo"
      width="50"
      height="50"
    />
    <span class="ms-3 fw-bold">Absolute Cinema</span>
  </div>
</div>
<div class="flex-grow-1 mw-50">
  <form class="d-flex">
    <input
      id="Search"
      class="form-control"
      type="search"
      placeholder="Buscar"
      aria-label="Search"
    />
    <button
      id="Searchicon"
      class="btn btn-outline-secondary d-flex align-items-center"
      type="submit"
    >
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>
