<button
  *ngIf="(auth.isAuthenticated$ | async) === false"
  (click)="login()"
  class="btn btn-outline-primary rounded rounded-pill text-center align-middle gap-2"
  style="display: inline-block"
>
  <mat-icon class="align-middle">account_circle</mat-icon>
  <span class="align-middle">Sign in</span>
</button>

<button
  *ngIf="auth.isAuthenticated$ | async"
  (click)="logout()"
  class="btn btn-outline-primary rounded rounded-pill text-center align-middle gap-2"
  style="display: inline-block"
>
  <mat-icon class="align-middle">check_circle</mat-icon>
  <span class="align-middle">Log out</span>
</button>
